.direnv/
__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
.env.*
venv
env
.direnv
.idea
.vscode
.git
.gitignore
node_modules
dist
build
.DS_Store
*.egg-info
*.egg
.mypy_cache
.cache
*.swp
*.bak
*.tmp
*.old
coverage.*
*.tgz
*.tar.gz
*.zip
*.egg
*.out
*.pid
*.sock
*.crt
*.pem
*.key
*.lock
*.orig
*.rej